@import "tailwindcss";

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(10px);
    }
}

/* Custom animation class */
.animate-fade-out {
    animation: fadeOut 0.3s ease-in forwards;
}